google-api-core 
google-auth       
google-cloud-bigquery      
google-cloud-bigquery-storage 
google-cloud-core         
google-cloud-storage        
google-crc32c               
google-resumable-media
googleapis-common-protos  
pandas
python-telegram-bot==20.0a1
matplotlib
seaborn
StringIO
BytesIO
PIL
prettytable
